<!DOCTYPE html>
<html lang="es">
 <head>
<!--en head se incluyen dependencias del archivo. Como lo son los archivos de estilos, fuentes de texto u otros.-->
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado</title>
    <link rel="website icon" type="png" href="/assets/imagenes/iconos/RIN.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/barra.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="/assets/estado2.css">
</head>
<!--Se incluye la clase font que indica la fuente de texto a utilizar.-->
<!--La clase m indica el tamaño del margen-->
<!--La clase p indica el padding -->
<!--box-border da un limite a los elementos dentro-->
<body style="font-family: 'Poppins';">
    <!--Se declara la clase sidebar cuyas propiedades y clases internas se establecen en el archivo barra.css-->
    <!--Se utilizan div para agrupar contenidos y separarlos de otros-->
    <div class="sidebar sidebar1">
        <div class="top top1">
            <div class="logo logo1">
                    <i class="bx bxs-car-mechanic">
                    </i>
                    <span>CarMinder</span>
            </div>
            <i class="bx bx-menu btnD" id="btn"></i>
        </div>
        <div class="user user1">
            <!--Se añade una imagen para mostrarse junto a la barra lateral-->
            <!--Se utiliza la clase w para dar un ancho maximo-->
            <img src="/assets/imagenes/kokomi.jpg" class="user-img ">
            <div>
                <!--Aqui se mostrara el nombre del usuario y el usuario-->
                <p class="bold bold1"><%= user.nombre_u %></p>
            </div>
        </div>
        <!--Se crea una lista con distintos elementos. Iconos y texto que tendran funciones especificas para navegar por las distintas secciones-->
        <ul>
            <li>
                <a href="/inicio?coche=<%= coche.id_carro_usuario %>">
                    <i class="bx bxs-car"></i>
                    <span class="nav-item ">Inicio</span>
                </a>
                
            <span class="tooltip">Panel</span>
            </li>
            <li>
                <a href="/Foro?coche=<%= coche.id_carro_usuario %>">
                    <i class="bx bx-notepad"></i>
                    <span class="nav-item ">Foro</span>
            </a>
            <span class="tooltip sidbox">Foro</span>
            </li>
            <li>
                <a href="/Configuracion?coche=<%= coche.id_carro_usuario %>">
                    <i class="bx bx-cog"></i>
                    <span class="nav-item">Configuracion</span>
            </a>
            <span class="tooltip sidbox">Configuracion</span>
            </li>
            <li>
                <a href="/cerrar-sesion?coche=<%= coche.id_carro_usuario %>">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
            <span class="tooltip sidbox">Logout</span>
            </li>
        </ul>
    </div>
    </div>
    <!-- Aquí se inicia el apartado del cuerpo del contenido de la página-->
    <div class="main-content">
        <div class="titulo">
            <h1>Estado</h1>
            <h2 class="t2">Comprueba el estado de tu vehículo</h2>
        </div>
        <div class="acbox2 acbox2h">
            <div class="  BOX1 contbord">
                <div>
                    <img class="imagen" src="<%= coche.ruta_imagen %>" alt="Imagen del coche">
                </div>
            </div>
            <div class="nomaut">
                <h1 class="NA"><%= coche.marca %> <%= coche.modelo %></h>
            </div>
            <div class="buttondiv">
                <button id="eliminarCocheBtn" class="buttone">Eliminar coche</button>
            </div>
        </div>
        <div class="acbox1 BOX contbord">
            <div>
                <h3 class="VK">Kilometraje: <span><%= coche.km_actual %></span></h3>
            </div>

            <div class="box1">
                <h2>Cambio de llantas</h2>
                <% if (cocheBase && cocheBase.cambio_llantas !== undefined) { %>
                <progress class="progbar" value="<%= cocheBase.cambio_llantas - coche.uc_llantas %>" max="<%= cocheBase.cambio_llantas %>"></progress>
                <% } else { %>
                <p>No hay información disponible para el cambio de llantas</p>
                <% } %>

                <h2>Cambio de aceite</h2>
                <% if (cocheBase && cocheBase.cambio_llantas !== undefined) { %>
                <progress class="progbar" value="<%= cocheBase.cambio_aceite - coche.uc_aceite %>" max="<%= cocheBase.cambio_aceite %>"></progress>
                <% } else { %>
                <p>No hay información disponible para el cambio de llantas</p>
                <% } %>
                
                <h2>Frenos</h2>
                <% if (cocheBase && cocheBase.cambio_llantas !== undefined) { %>
                <progress class="progbar" value="<%= cocheBase.cambio_frenos - coche.uc_frenos %>" max="<%= cocheBase.cambio_frenos %>"></progress>
                <% } else { %>
                <p>No hay información disponible para el cambio de llantas</p>
                <% } %>

                <h2>Líquido de frenos</h2>
                <% if (cocheBase && cocheBase.cambio_llantas !== undefined) { %>
                <progress class="progbar" value="<%= cocheBase.cambio_liquido_frenos - coche.uc_liquido_frenos %>" max="<%= cocheBase.cambio_liquido_frenos %>"></progress>
                <% } else { %>
                <p>No hay información disponible para el cambio de llantas</p>
                <% } %>

                <h2>Aceite de dirección</h2>
                <% if (cocheBase && cocheBase.cambio_llantas !== undefined) { %>
                <progress class="progbar" value="<%= cocheBase.cambio_aceite_direccion - coche.uc_aceite_direccion %>" max="<%= cocheBase.cambio_aceite_direccion %>"></progress>
                <% } else { %>
                <p>No hay información disponible para el cambio de llantas</p>
                <% } %>

                <h2>Filtro de aire</h2>
                <% if (cocheBase && cocheBase.cambio_llantas !== undefined) { %>
                <progress class="progbar" value="<%= cocheBase.cambio_filtro_aire - coche.uc_filtro_aire %>" max="<%= cocheBase.cambio_filtro_aire %>"></progress>
                <% } else { %>
                <p>No hay información disponible para el cambio de llantas</p>
                <% } %>

                <h2>Bujías</h2>
                <% if (cocheBase && cocheBase.cambio_llantas !== undefined) { %>
                <progress  class="progbar" value="<%= cocheBase.cambio_bujias - coche.uc_bujias %>" max="<%= cocheBase.cambio_bujias %>"></progress>
                <% } else { %>
                <p>No hay información disponible para el cambio de llantas</p>
                <% } %>

                <h2>Correas</h2>
                <% if (cocheBase && cocheBase.cambio_llantas !== undefined) { %>
                <progress class="progbar" value="<%= cocheBase.cambio_correas - coche.uc_correas %>" max="<%= cocheBase.cambio_correas %>"></progress>
                <% } else { %>
                <p>No hay información disponible para el cambio de llantas</p>
                <% } %>

                <h2>Filtro de combustible</h2>
                <% if (cocheBase && cocheBase.cambio_llantas !== undefined) { %>
                <progress class="progbar" value="<%= cocheBase.cambio_filtro_combustible - coche.uc_filtro_combustible %>" max="<%= cocheBase.cambio_filtro_combustible %>"></progress>
                <% } else { %>
                <p>No hay información disponible para el cambio de llantas</p>
                <% } %>

                <h2>Suspensión</h2>
                <% if (cocheBase && cocheBase.cambio_llantas !== undefined) { %>
                <progress class="progbar" value="<%= cocheBase.cambio_suspension - coche.uc_suspension %>" max="<%= cocheBase.cambio_suspension %>"></progress>
                <% } else { %>
                <p>No hay información disponible para el cambio de llantas</p>
                <% } %>

                <h2>Líquido de transmisión</h2>
                <% if (cocheBase && cocheBase.cambio_llantas !== undefined) { %>
                <progress class="progbar" value="<%= cocheBase.cambio_liquido_transmision - coche.uc_liquido_transmision %>" max="<%= cocheBase.cambio_liquido_transmision %>"></progress>
                <% } else { %>
                <p>No hay información disponible para el cambio de llantas</p>
                <% } %>

            </div>
            
        </div>
    </div>
</body>
<!--Se crea un script en el cual se le establecen distintas propiedades y comportamientos a la barra lateral de la página-->
<script>
    let btn = document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')

    btn.onclick = function (){
        sidebar.classList.toggle('active')
    };

    
</script>
</html>